//Colors
//$off-black : #20222b;
//$off-white :#a5afd7;
$back : paleturquoise;
$fore : rgb(65, 3, 46);
$body-back : seashell;
$widget-back : rgb(245, 189, 153);
$widget-light-fore : rgb(235, 108, 108);
$widget-light-back : rgb(250, 215, 191);
$button-back : rgb(7, 170, 148);
$button-fore : rgb(65, 3, 46);
$button-link-fore: rgb(49, 21, 21);
$desktop-breakpoint:45rem;

//Spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;